@page
@model HOMEWORK_5.Pages.AddCVModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="mb-4">CV Page</h3>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input asp-for="Cv.FirstName" class="form-control" />
                    <span asp-validation-for="Cv.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="LastName">Last Name:</label>
                    <input asp-for="Cv.LastName" class="form-control" />
                    <span asp-validation-for="Cv.LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="BirthDay">Birthday:</label>
                    <input asp-for="Cv.BirthDay" type="date" class="form-control" />
                    <span asp-validation-for="Cv.BirthDay" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Nationality">Nationality:</label>
                    <select asp-for="Cv.Nationality" asp-items="Model.Nationalities" class="form-control">
                        <option value="">**Not Selected**</option>
                    </select>
                    <span asp-validation-for="Cv.Nationality" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Gender:</label><br />
                    <div class="form-check form-check-inline">
                        <input asp-for="Cv.Gender" value="Male" type="radio" class="form-check-input" />
                        <label class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Cv.Gender" value="Female" type="radio" class="form-check-input" />
                        <label class="form-check-label">Female</label>
                    </div>
                    <span asp-validation-for="Cv.Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Skills:</label><br />
                    @foreach (var skill in Model.Skills)
                    {
                        <div class="form-check form-check-inline">
                            <input name="checkedSkills" value="@skill" type="checkbox" class="form-check-input" />
                            <label class="form-check-label">@skill</label>
                        </div>
                    }
                </div>

                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input asp-for="Cv.Email" class="form-control" />
                    <span asp-validation-for="Cv.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="EmailConfirmation">Confirm Email:</label>
                    <input asp-for="Cv.EmailConfirmation" class="form-control" />
                    <span asp-validation-for="Cv.EmailConfirmation" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Password">Password:</label>
                    <input asp-for="Cv.Password" class="form-control" />
                    <span asp-validation-for="Cv.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Verification">Verification:</label><br />
                    <input asp-for="Cv.Verify1" type="number" class="form-control-inline" /> +
                    <input asp-for="Cv.Verify2" type="number" class="form-control-inline" /> =
                    <input asp-for="Cv.VerifyTotal" type="number" class="form-control-inline" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="Photo">Photo:</label>
                    <input type="file" asp-for="Cv.Photo" class="form-control-file" />
                    <span asp-validation-for="Cv.Photo" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                @if (String.IsNullOrEmpty(Model.SuccessMessage) == false)
                {
                    <span class="text-success">@Model.SuccessMessage</span>
                }
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>
