@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our CVs App</h1>
</div>

<div class="text-xxl-center">
    <a asp-page="AddCV" class="border-1 text-xxl-center">Fill New CV</a>
</div>